@import url(common.css);

.header-bar {
	display: flex;
	justify-content: center;
}

.header-menu-bar {
	gap: 1rem;
	width: 100%;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.rect-button {
	height: 54px;
	width: 202px;
	display: flex;
	flex-shrink: 0;
	cursor: pointer;
	position: relative;
	align-items: center;
	justify-content: center;
}

.rect-button-inner {
	width: 200px;
	height: 50px;
	position: absolute;
	border-radius: 25px;
	pointer-events: none;
	background-color: var(--white-chocolate);
}

.rect-button-border {
	opacity: 0;
	width: 202px;
	height: 52px;
	position: absolute;
	border-radius: 30px;
	transition: opacity 0.15s;
	border: 3px solid var(--white);
	box-shadow: inset 0 0 3px 0 var(--transparent-black), 0 0 7px 0 var(--transparent-white-chocolate);
}

.rect-button-border:hover { opacity: 1; }

.rect-button-label {
	max-width: 180px;
	font-weight: 600;
	position: absolute;
	text-align: center;
	color: var(--black);
	pointer-events: none;
}