@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--black: rgb(0, 0, 0);
	--white: rgb(255, 255, 255);
	--dark-gunmetal: rgb(30, 34, 49);
	--white-chocolate: rgb(236, 229, 216);
	--transparent-black: rgba(0, 0, 0, 0.5);
	--transparent-white-chocolate: rgba(236, 230, 217, 0.7);
}

* { box-sizing: border-box; }

body, #root {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'Poppins', sans-serif;
	background-image: linear-gradient(to bottom right, #31394e, #1d212d, #191e33, #141829, #101321);
}

button { all: unset; }

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	margin: 0;
	border: 0;
	padding: 0;
	scrollbar-width: thin;
	vertical-align: baseline;
}

input {
	padding: 0;
	border: none;
	outline: none;
}

.noscroll {
	overflow-y: hidden;
}