@import url(./common.css);

.farm-item-list {
	gap: 12px;
	margin: 12px;
	display: grid;
	grid-gap: 12px;
	color: var(--white-chocolate);
	grid-template-columns: repeat(3, minmax(334px, 1fr));
}

.item-panel-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
}

.item-panel-before::before {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	position: absolute;
	transition: all .1s;
	background-color: #1e2231;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.item-panel-item,
.item-panel-before {
	width: 100%;
	display: flex;
	flex-shrink: 0;
	min-width: 344px;
	position: relative;
	border-radius: 5px;
	flex-direction: column;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.8);
}

.item-panel-name {
	padding: 5px;
	display: flex;
	min-width: 34px;
	transition: all .1s;
	align-items: center;
	justify-content: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.item-panel-item-name {
	height: 44px;
	display: flex;
	font-size: 18px;
	max-width: 180px;
	font-weight: 800;
	text-align: center;
	align-items: center;
}

.item-panel-button-wrapper {
	top: 27px;
	position: absolute;
	transform: translateY(-50%);
}

.item-panel-button-ascend {
	left: 12px;
}

.item-panel-button-trash {
	right: 12px;
}

.item-panel-item:hover .circle-button {
	opacity: 1;
}

.circle-button {
	opacity: 0;
	width: 34px;
	height: 34px;
	display: flex;
	flex-shrink: 0;
	position: relative;
	align-items: center;
	border-radius: 100%;
	justify-content: center;
	background-color: var(--grey);
	transition: opacity .1s ease-in-out;
}

.circle-button-glow {
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 100%;
	box-shadow: 0 0 7px 0 #aaa;
	transition: opacity .1s ease-in-out;
}

.circle-button-inner-border {
	width: 28px;
	height: 28px;
	position: absolute;
	border-radius: 100%;
	background-color: #fff;
	transition: transform .1s ease-in-out;
}

.circle-button-inner {
	width: 28px;
	height: 28px;
	position: absolute;
	border-radius: 100%;
	background-color: rgb(236, 229, 216);
}

.circle-button-image {
	z-index: 1;
	width: 18px;
	height: 18px;
	pointer-events: none;
}

.circle-button:hover .circle-button-glow {
	opacity: 1;
}

.circle-button:hover .circle-button-inner-border {
	transform: scale(1.2);
}

.item-panel-item-content {
	padding: 7px;
	flex-grow: 1;
	display: flex;
	transition: all .1s;
	flex-direction: column;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 89px 11px -90px rgba(0, 0, 0, 0.75);
}

.item-panel-general-select {
	display: flex;
	margin-bottom: 8px;
	align-items: center;
	padding-bottom: 8px;
	border-bottom: 1px solid hsla(0, 0%, 100%, .2);
}

.item-panel-item-image-wrapper {
	display: flex;
	margin: 0 auto;
	justify-content: center;
}

.item-panel-item-image {
	width: 106px;
	height: 106px;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0 0 3px 1px #000;
}

.item-panel-item-summary-wrapper {
	height: 100%;
	display: flex;
	margin: 0 auto;
	flex-direction: column;
}

.item-panel-item-summary-level,
.item-panel-item-summary-talent {
	display: flex;
	flex-direction: column;
}

.item-panel-item-summary-title {
	width: 112px;
	font-size: 14px;
	color: #ffd780;
	font-weight: 600;
	text-align: center;
}

.item-panel-item-summary-pair {
	width: 112px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.item-panel-item-summary-label {
	width: 39px;
	display: flex;
	font-size: 14px;
	font-weight: 600;
	margin-left: 4px;
	margin-right: 4px;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.item-panel-arrow {
	width: 24px;
	height: 18px;
	margin: 0 5px;
	background-image: url(../assets//misc/arrow.png);
}

.item-panel-star {
	width: 14px;
	height: 14px;
	background-image: url(../assets/misc/astar.png);
}

.item-panel-arrow,
.item-panel-star {
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
}

.item-panel-material-list {
	width: 100%;
	flex-grow: 1;
	display: flex;
	flex-shrink: 1;
	flex-wrap: wrap;
	justify-content: center;
}