@import url(common.css);

.item-card-wrapper {
	margin: 3px;
	width: 106px;
	height: 148px;
	cursor: pointer;
	max-width: 106px;
	max-height: 148px;
	position: relative;
}

.item-card-body {
	overflow: hidden;
	border-radius: 3px;
}

.div-transition * { transition: all 0.2s ease 0s; }

.item-image-wrapper{
	display: flex;
	max-width: 106px;
	min-width: 106px;
	max-height: 106px;
	min-height: 106px;
	align-items: center;
	justify-content: center;
}

.rarity-4 { background: linear-gradient(160deg, rgba(89, 84, 130, 0.565) 0%, rgba(120, 102, 157, 0.565) 39%, rgba(183, 133, 201, 0.565) 100%); }

.rarity-5 { background: linear-gradient(160deg, rgba(105, 84, 83, 0.565) 0%, rgba(161, 112, 78, 0.565) 39%, rgba(228, 171, 82, 0.565) 100%); }

.item-image {
	width: 106px;
	height: 106px;
	position: relative;
}

.contained-image {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
}

.item-wrapper:hover { filter: brightness(120%); }

.item-wrapper:hover .contained-image { filter: brightness(83.33%); }

.element-overlay {
	right: 0;
	bottom: 0;
	width: 30px;
	height: 30px;
	position: absolute;
	border-radius: 50%;
	background-color: var(--transparent-black);
}

.item-text {
	font-size: 14px;
	font-weight: 600;
	color: var(--grey);
	text-align: center;
}

.item-wrapper:hover .item-text {
	text-shadow: 0 0 10px #38a6c2;
}