.links-bar {
	width: 10%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.sign-link {
	position: relative;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	color: var(--light-grey);
}

.sign-link::after {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	content: '';
	opacity: 0.9;
	position: absolute;
	transform: scaleX(0);
	transform-origin: bottom right;
	background-color: var(--light-grey);
	transition: transform 0.25s ease-in-out;
}

.sign-link:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}