@import url(common.css);

.card-wrapper {
	margin: 3px;
	max-width: 52px;
	max-height: 86px;
	position: relative;
}

.card-body {
	overflow: hidden;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.div-transition { transition: all 0.1s ease 0s; }

.material-image-wrapper{
	display: flex;
	max-width: 52px;
	min-width: 52px;
	max-height: 54px;
	min-height: 54px;
	align-items: center;
	justify-content: center;
}

.rarity-1 { background: linear-gradient(160deg, rgba(79, 88, 100, 0.565) 0%, rgba(95, 102, 115, 0.565) 39%, rgba(135, 147, 156, 0.565) 100%); }

.rarity-2 { background: linear-gradient(160deg, rgba(72, 87, 92, 0.565) 0%, rgba(72, 107, 103, 0.565) 39%, rgba(98, 152, 113, 0.565) 100%); }

.rarity-3 { background: linear-gradient(160deg, rgba(81, 84, 116, 0.565) 0%, rgba(80, 104, 135, 0.565) 39%, rgba(75, 160, 180, 0.565) 100%); }

.rarity-4 { background: linear-gradient(160deg, rgba(89, 84, 130, 0.565) 0%, rgba(120, 102, 157, 0.565) 39%, rgba(183, 133, 201, 0.565) 100%); }

.rarity-5 { background: linear-gradient(160deg, rgba(105, 84, 83, 0.565) 0%, rgba(161, 112, 78, 0.565) 39%, rgba(228, 171, 82, 0.565) 100%); }

.material-image {
	width: 52px;
	height: 54px;
}

.contained-image {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
}

.material-input-wrapper {
	width: 52px;
	height: 32px;
	overflow: hidden;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.material-input {
	width: 100%;
	border: 3px;
	height: 100%;
	display: flex;
	position: relative;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-color: #dbcfb899;
}

.input-shadow {
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #fafafa;
	box-shadow: 0 0 7px 0 #dfd8cb;
	transition: opacity 0.2s ease-in-out;
}

.input-focus.input-shadow { opacity: 1; }

.material-input-box {
	color: black;
	font-size: 16px;
	font-weight: 600;
	position: absolute;
	border-radius: 3px;
	text-align: center;
	width: calc(100% - 8px);
	height: calc(100% - 8px);
	background-color: #ece5d8;
}

.material-input-box::selection { background: #38a6c2; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	margin: 0;
	appearance: none;
	-webkit-appearance: none;
}

input[type=number] {
	appearance: textfield;
	-moz-appearance: textfield;
}